.mainPage {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  font-family: "Montserrat", sans-serif;
  background: rgb(243, 252, 255);
}
.mainPage main {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.mainPage aside {
  min-width: 350px;
}
.mainPage section {
  flex-grow: 1;
  /* background: yellow; */
  text-align: center;
}
